<h2>Cadastrar Quarto</h2>

<form (ngSubmit)="cadastrarQuarto()">
  <label for="bloco">Bloco:</label>
  <select id="bloco" [(ngModel)]="bloco"
    name="bloco"
    [ngModelOptions]="{standalone: true}" (change)="atualizarQuartos()">
    <option value="A">A</option>
    <option value="B">B</option>
    <option value="C">C</option>
  </select>

  <label for="quarto">Quarto:</label>
  <select id="quarto" [(ngModel)]="quartoSelecionado" 
    name="quartoSelecionado" required>
    <option *ngFor="let q of quartosDisponiveis" [value]="q">{{ q }}</option>
  </select>

  <button type="submit">Cadastrar</button>
</form>
