<h2>Lista de Hóspedes</h2>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>RG</th>
      <th>Telefone</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hospede of hospedes">
      <td>{{ hospede.nome }}</td>
      <td>{{ hospede.cpf }}</td>
      <td>{{ hospede.rg }}</td>
      <td>{{ hospede.telefone }}</td>
      <td>
        
        <button (click)="editarHospede(hospede.id!)">Editar</button>
        <button (click)="deletarHospede(hospede.id!)">Deletar</button>
      </td>
    </tr>
  </tbody>
</table>
